[project]
	description = Go client library for the BlockScore API.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Connor Jacobsen (connorjacobsen)
[access "refs/for/refs/*"]
	read = group user/Connor Jacobsen (connorjacobsen)
	push = group user/Connor Jacobsen (connorjacobsen)
	label-Code-Review = -2..+2 group user/Connor Jacobsen (connorjacobsen)
	label-Verified = -1..+1 group user/Connor Jacobsen (connorjacobsen)
	rebase = group user/Connor Jacobsen (connorjacobsen)
	removeReviewer = group user/Connor Jacobsen (connorjacobsen)
	submit = group user/Connor Jacobsen (connorjacobsen)
[access "refs/heads/*"]
	read = group user/Connor Jacobsen (connorjacobsen)
	create = group user/Connor Jacobsen (connorjacobsen)
	push = +force group user/Connor Jacobsen (connorjacobsen)
	pushMerge = group user/Connor Jacobsen (connorjacobsen)
[access "refs/tags/*"]
	push = +force group user/Connor Jacobsen (connorjacobsen)
	pushTag = group user/Connor Jacobsen (connorjacobsen)
	pushSignedTag = group user/Connor Jacobsen (connorjacobsen)
